.div_banner {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}


::-webkit-scrollbar {
  display: none;
}




.atual {
  font-weight: bolder;
}

a {
  text-decoration: none;
}



.cad :hover {
  border: 0.3vh solid cornflowerblue;
  color: cornflowerblue;
}

.descricao {
  height: 75%;
  background-color:black;
  width: 90%;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;


}

.txt_descricao {
  color: #ec800e;
  font-weight: 300;
  font-size: 4vh;
}

.titulo {
  font-weight: 300;
  font-size: 10vh;
  color: white;
  animation-name: subida;
  animation-duration: 1s;
  transform: translateY(-100px);
  font-family:'Roboto', sans-serif;
}

.show {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

}

@keyframes subida {

  from {
    transform: translateY(1000px);

  }

  to {
    transform: translateY(-100px);

  }
}

.explicacao {
  width: 100%;
  height: 30vh;
  background-color:black;
  margin-top: 9vh;
  display: flex;
justify-content: space-around;
}

.explicando {
  width: 50%;
  height: 100%;
  font-weight: 300;
  font-size: 3vh;
  margin-left: 4vh;
  color: white;
  animation-fill-mode: forwards;
  transform: translateX(-200px);
  opacity:0 ;
  font-family:'Roboto', sans-serif;

}
.chegada{
  animation: chegada 1s forwards;
}

@keyframes chegada {


  to {
    transform: translateX(0px);
    opacity:1 ;

  }

}
.btn_line{
height: 15vh;
width: 100%;
background-color:black;
display: flex;
justify-content: space-evenly;
margin-top: 2vh;

}
.btn_cad{
  height: 6vh;
  width: 15vh;
  font-size: 3vh;
  background-color: transparent;
  color: white;
  border: 0;
  font-weight: 300;
  cursor: pointer;
  transition: 300ms;
  font-family:'Roboto', sans-serif;
  border-bottom:1px solid   black;

}
.btn_cad:hover{
  border-bottom:1px solid   #5A0002;
}
#btn_valores:hover{
  border-bottom:1px solid   #ec800e;


}


.btn_login{
  font-family:'Roboto', sans-serif;
  height: 9vh;
  width: 24vh;
  border-radius: 5vh;
  font-size: 2vh;
  border: 0.5vh solid black;
  background-color: transparent;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 500ms;
  font-size: 2.5vh;
}


