.container_login {
  height: 500px;
  width: 500px;
  background-color: #1b2631a1;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search {
  height: 20px;
  align-self: center;
  width: 70%;
  display: flex;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  transition: 400ms;
  font-size: medium;
  color: white;
  text-align: center;
}

.search:focus {
  border-bottom: 1px solid #ec5800;
}

.div_inp {
  height: 30px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 50px;
}

.div_inp2 {
  height: 30px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 10px;
}

.div_inp3 {
  height: 9px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 40px;
}



.btn_comecar {
  height: 50px;
  width: 140px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 300ms;
  border: 1px solid rgb(94, 91, 91);
  color: rgb(94, 91, 91);
  cursor: pointer;
  font-size: 12pt;
  align-self: center;
  background-color: white;
  transition: 200ms;
}

.btn_comecar:hover {
  border: 1px solid #ec5800;
  color: #ec5800;
}

.chk {
  align-self: flex-start;
  margin-left: 70px;
}

.container_login span {
  cursor: pointer;
  align-self: center;
}
.alert_erro_login {
  width: 500px;
  height: 10vh;
  border-bottom: 5px solid rgba(255, 0, 0, 0.384);
  margin-bottom: 10px;
  display: none;
  z-index: 10;
}




.banner_cad {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;



}

.banner_cad h4 {
  font-size: 22pt;
  color: white;
  font-weight: 300;
  text-align: center;
}