body{
    font-family:'Roboto', sans-serif;
}
.banner{
width: 100%;
height: 90vh;
display: flex;
align-items: center;
flex-direction: column;
background-size: cover;

}
.container_sug{
height: 75%;
width: 60%;
margin: 0% auto;
display: flex;
flex-direction: row;
margin-top: 10px;

}

.container_esq{
    margin-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1b2631a1;
    border-right: 1px solid rgb(94, 91, 91);
    color: white;
}
.div_inp{
width: 100%;
height: 10%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
font-weight: 300;
}
.inp_sug{
height: 4vh;
outline: none;
border: 0ch;
border-bottom: 1px solid white;
width: 70%;
transition: 400ms;
background-color: rgba(255, 255, 255, 0);
}
.inp_sug:focus{
border-bottom: 1px solid #5A0002;
    


}
.btn_enviar{
width: 40%;
height: 10%;
margin-top: 40px;
background-color: #5A0002;
border-radius: 50px;
border: 0ch;
color: white;
font-size: 2.5vh;
transition: 200ms;
cursor: pointer;
}
.btn_enviar:hover{
width: 50%;
height: 55px;
transform: translateY(-5px);

}
.div_titulo{
height: 20%;
width: 100%;
font-size: 6vh;
font-weight: 300;
display: flex;
justify-content: center;
align-items: center;
color: white;
padding-top: 20px;

}
.div_combo{
width: 100%;
height: 20px;
display: flex;
padding-left: 40px;

}
select{
background-color:rgba(255, 255, 255, 0);
color: black;
width: 15vh;
outline: none;
border: 1px solid rgb(0, 0, 0);
height: 30px;
border-radius: 6px;
}

.container_dir span{
font-size: 17pt;
font-weight: 300;
margin-top: 40px;

}
.container_video{
display: none;
flex-direction: column;
align-items: center;

}
.div_titulo h4{
font-weight: 300;


}
.alert_erro{
    width: 500px;
    height:  50px;
    border:5px solid  rgba(255, 0, 0, 0.384);
    margin-bottom: 10px;
    background-color: rgb(212, 120, 120);
    display: none;
    margin-top: 10px;

    }
    
    .banner_cad{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    
    }
    .alert_erro h4{
    font-size: 12pt;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 0%;
    }
    