.div_banner {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}


::-webkit-scrollbar {
  display: none;
}




.atual {
  font-weight: bolder;
}

a {
  text-decoration: none;
}

.cad {
  border: 0.3vh solid #ec800e;
  height: 8vh;
  width: 20vh;
  background-color: transparent;
  color: #ec800e;
  font-size: 2vh;
  border-radius: 30px;
  transition: 400ms;
}

.cad :hover {
  border: 0.3vh solid cornflowerblue;
  color: cornflowerblue;
}

.descricao {
  height: 75%;
  background-color: rgb(0, 0, 0);
  width: 90%;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;


}

.txt_descricao {
  color: #ec800e;
  font-weight: 300;
  font-size: 4vh;

}

.titulo {
  font-weight: 300;
  font-size: 10vh;
  color: white;
  animation-name: subida;
  animation-duration: 1s;
  transform: translateY(-100px);
}

.show {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes subida {

  from {
    transform: translateY(1000px);

  }

  to {
    transform: translateY(-100px);

  }
}

.explicacao {
  width: 100%;
  height: 50vh;
  background-color: rgba(17, 17, 17, 255);

}

.explicando {
  width: 50%;
  height: 100%;
  font-weight: 300;
  font-size: 4vh;
  margin-left: 4vh;
  color: white;
  animation-name: chegada;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transform: translateX(-1000px);

}

@keyframes chegada {


  to {
    transform: translateX(0px);

  }

}