.div_banner {
  background-size: cover;
  height: 110vh;
  display: flex;
  flex-direction: row;
}

.div_lateral {
  background-color: white;
  width: 32%;
  height: 98%;
  border-right: 1px rgb(170, 167, 167) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_lateral h3 {
  font-weight: 300;
  text-indent: 30px;
  margin-right: 27px;
  font-weight: 500;
  color: cornflowerblue;
}

.div_lateral h2 {
  font-weight: 400;
}
.div_direita {
  width: 68%;
  height: 100vh;
}
.div_direita {
  height: 100%;
  width: 68%;
  display: flex;
  justify-content: center;
}
.div_direita h1 {
  color: black;
  font-weight: 100;
  font-size: 22pt;
  margin-top: 200px;
}

.btn_add {
  height: 50px;
  width: 140px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 300ms;
  color: white;
  cursor: pointer;
  font-size: 12pt;
  align-self: center;
  background-color: #ec5800;
  transition: 150ms;
  border: 1px solid #ec5800;
  border-radius: 55px;
  margin-top: 30px;
}

.btn_add:hover {
  color: white;
  width: 170px;
}

.div_musica {
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 0%;
  margin: 0%;
  transition: 200ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.div_musica:hover {
  background-color: rgb(231, 222, 222);
  color: #ec5800;
}


.div_musica h4 {
  font-weight: 300;
  margin: 0%;
}
.div_musica h6 {
  font-weight: 100;
  color: black;
  font-size: smaller;
  margin: 0%;
  font-size: 10pt;
  
}
.musica_display_select {
  background-color:white;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
}


.div_sem_musica {
  display: block;
}
.capa_album{
height: 200px;
width: 200px;
align-self: flex-end;

}
.div_titulo_capa{
  display: flex;
  justify-content: space-around; 
  align-items: center;
padding-top: 22px;

}
.titulo_musica{
font-size: 22pt;
font-weight: 100;


}
.div_titulo_capa h3{
font-weight: 300;
justify-items: flex-start;
font-size: 12pt;
color: cornflowerblue;


}
.semi_header{
display: flex;
align-items: center;
justify-content: space-evenly;

}
.semi_header h3{
font-weight: 300;
color: #ec5800;
transition: 300ms;


}
.semi_header h3:hover{
text-decoration: underline;
cursor: pointer;



}



.sobre{
font-weight: 300;
font-size: 9pt;



}
.chart{
width:300px;
height: 275px;
margin-left: 300px;
}.sobre_musica{
float: left;
text-indent: 100px;
padding-left: 50px;
padding-bottom: 20px;
}
i{
color: black;
font-weight: 300;

}



