.banner {
  height: 350vh;
  width: 100%;
  background:radial-gradient(ellipse at center, 
  rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #5f5f5e7e 100%);
  overflow: hidden;
}
.container_explicacao {
  height: 700px;
  width: 91%;
  background-color: #ec8000;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-indent: 50px;
  border-radius: 0 0 1500px 0;
  transition: 500ms;
  padding-left: 110px;
}
.container_explicacao:hover {
  border-radius: 0 50px 400px 0;
  cursor: pointer;
  height: 800px;
}

.container_explicacao h1 {
  font-weight: 300;
  font-size: 35pt;
  margin-left: 10px;
  color: white;
}
.container_explicacao span {
  font-weight: 100;
  font-size: 13pt;
  color: rgb(0, 0, 0);
}
.div_explicacao {
  height: 100%;
  width: 50%;
}
.sobre_mim {
  height: 500px;
  width: 80%;
  margin: 0%auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  border: 1px solid gainsboro;
  transition: 400ms;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.txt_sobre_mim {
  height: 100%;
  width: 70%;
}
.sobre_mim:hover{
width: 90%;
height: 550px;
cursor: pointer;
box-shadow: 0 0 5em rgba(0, 0, 0, 0.479);

}
.txt_sobre_mim h1 {
  font-weight: 300;
  text-align: center;
  padding: 10px;
  color: #ec8000;
  
}
.txt_sobre_mim span{
font-weight: 300;
position: absolute;
margin-left: 30px;
text-indent: 20px;

}
.foto_sobre{

align-self: center;
position: relative;
margin: 40px;
border: 22px groove #ec8000;

}
.div_idolos{
  background: #015871;
  height: 45%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
border-radius: 0 10000px 0 0;
animation-name: rolagem;
animation-duration: 10s;
animation-direction: alternate-reverse;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes rolagem{
  /* 0%   {background-color: rgb(10, 10, 46);}
  10%  {background-color: rgb(5, 5, 24);}
  20%  {background-color: rgb(4, 4, 26);}
  30% {background-color: rgb(10, 10, 46);}
  40% {background-color: rgb(23, 7, 61);}
  50% {background-color: rgb(31, 6, 70);}
  60% {background-color: rgb(59, 10, 104);}
  70% {background-color: rgb(56, 14, 110);}
  80% {background-color: rgb(52, 14, 77);}
  90% {background-color: rgb(37, 15, 66);}
  100% {background-color: rgb(18, 10, 46);} */
  0%{background-color: rgb(10, 10, 46);}
  50%{background-color: rgb(94, 177, 26);}
  100%{background-color: rgb(221, 97, 14);}
}
.container_idolos{
height: 50%;
width: 90%;
background-color: white;
box-shadow: 0 0 1em rgba(0, 0, 0, 0.479);
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.icon_idolo{
  height: 200px;
 width: 200px;
 margin-top: 10px;
box-shadow: 0 0 10px black;
transition: 300ms;
border-radius: 150px;

}
.linha_container{
height: 40%;
width: 100%;
display: flex;
justify-content: space-evenly;

}

.icon_idolo:hover{
transform: scale(1.5,1.5);
filter: grayscale(100%);
cursor: pointer;
}
.container_idolos span{
font-weight: 300;
color: #ec8000;
text-align: center  ;
font-size: 30pt;
}
.container_mustaine{
  height: 50%;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.479);
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.desc_idolo{
height: 100%;
width: 30%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-right: 5px solid gainsboro;
justify-content: space-around;
}
.desc_idolo h2{

  font-weight: 300; 
font-size: 15pt;
}
button{
border: none;
background-color: #ec8000;
height: 50px;
width: 150px;
font-size: 14pt;
font-weight: 300;
color: white;
transition: 400ms;
}

button:hover{
background-color: #ff9009;
cursor: pointer;


}
.sobre_idolo{
width: 70%;
height: 100%;
padding-left: 100px;
overflow-y: auto;
background:radial-gradient(ellipse at center, 
  rgb(255, 255, 255) 0%, rgba(233, 228, 228, 0.329) 35%, #5f5f5e2a 100%);



}
.signature{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;



}
.signature h1{
  font: 22pt;
font-weight: 300; 
}
.sobre_idolo span{
font-size: 16pt;
font-weight: 300;


}
.sobre_idolo h1{
font-weight: 300;
color: #ec8000;
text-align: center;


}
.escutar{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
